{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": ["*.djhtml", "*.django-html"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
