<!DOCTYPE html>
<html lang="en">
  <head>
    {% load i18n %} {% block title %}
    <title>{% trans "Quản lý học sinh" %}</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="layout-other">{% block content %}{% endblock %}</div>
  </body>
</html>
