@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Roboto";
}

:root {
  --primary: #043873;
  --secondary: #ffffff;
  --primary-text: white;
  --secondary-text: #043873;
  --primary-background: #ddd;
  --secondary-hover: rgba(0, 0, 0, 0.25);
  --primary-shadow: 4px 4px 10px rgba(4, 56, 115, 0.2);

  --font-size: 16px;
  --header-height: 60px;
  --sidebar-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-text);
  font-size: var(--font-size);
  background-color: var(--primary-background);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: var(--font-size);
}
