{% load i18n %} {% load static %}
<div class="sidebar-logo">H&Q</div>

<div class="sidebar-item-list">
  <a
    class="sidebar-item {% if request.resolver_match.url_name == 'class-list' %}active{% endif %}"
    href="{% url 'class-list' %}"
  >
    <span class="sidebar-item-icon"><i class="fa-solid fa-school"></i></span>
    <span class="sidebar-item-name">{% trans "Danh sách lớp học" %}</span>
  </a>

  {% if request.resolver_match.url_name != 'class-list' and class_id and semester_id %}
  <a
    class="sidebar-item {% if 'student-list' in request.resolver_match.url_name %}active{% endif %}"
    href="{% url 'student-list' class_id semester_id %}"
  >
    <span class="sidebar-item-icon"><i class="fa-solid fa-list-ul"></i></span>
    <span class="sidebar-item-name">{% trans "Danh sách học sinh" %}</span>
  </a>

  <a class="sidebar-item" href="">
    <span class="sidebar-item-icon"><i class="fa-solid fa-list-check"></i></span>
    <span class="sidebar-item-name">{% trans "Điểm danh" %}</span>
  </a>

  {% if subject_id %}
  <a class="sidebar-item" href="">
    <span class="sidebar-item-icon"><i class="fa-solid fa-pen-ruler"></i></span>
    <span class="sidebar-item-name">{% trans "Chấm điểm" %}</span>
  </a>
  {% endif %} {% if is_homeroom %}
  <a class="sidebar-item" href="">
    <span class="sidebar-item-icon"><i class="fa-solid fa-ranking-star"></i></span>
    <span class="sidebar-item-name">{% trans "Thống kê thành tích" %}</span>
  </a>
  {% endif %} {% endif %}
</div>
